<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Servicio</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="../img/header.png">
            <nav class="menu">
                <ul>
                    <li><a href="../index.html"><img src="../img/boton_inicio.png" class="btn1"></li></a>
                    <li><a href="../views/servicios.html"><img src="../img/boton_servicios.png" class="btn2"></a></li>
                    <li><a href="../views/contactos.html"><img src="../img/boton_contacto.png" class="btn3"></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="información">
                
                <h2>Sobre tigo</h2>
                <p>Tigo es una empresa de telecomunicaciones que opera en varios países de América Latina, ofreciendo servicios como telefonía móvil, internet y televisión. Forma parte del grupo  y se ha consolidado como uno de los principales proveedores de conectividad digital en la región.</p>
    
            <div>
                <h1>Locales</h1>
                <img src="../img/locales.png" alt="">
            </div>  
            <div>
                <h1>Edificios</h1>
                <img src="../img/edificios.png" alt="">
            </div>
        </main>
        <footer>
            <p>Pagina web para fines netamente academicos por Saeb Ferez Avendaño</p>
            <p>
                <a href="https://www.facebook.com/Tigo.Col/?locale=es_LA"><img src="../img/facebook .png" alt="facebook"></a>
                <a href="https://b.tigo.com/ayudaws?__cf_chl_tk=e5pchqif.e0.4eLbRVL4irUSXMnQrKEO4DknIHIksm0-1774035023-1.0.1.1-F0V6ctkHFRCy2UNEMy8toY6h2NUxogvcki3zyUBrYRU"><img src="../img/whatsapp.png" alt="whatsapp"></a>
                <a href="https://www.instagram.com/tigocolombia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="../img/instagram.png" alt="instagram"></a>
            </p>
        </footer>
    </div>
</body>
</html>